<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <main id="app">
    <input type="text" placeholder="Enter location" v-model="location">
    <input type="submit" value="Search" @click="search.call(this, location)">
    <ul> 
      <!-- maybe limit to 5-10 of each result type -->
     <result v-for="result in results" :business="result"></result>
     <event v-for="event in events"> {{event}} </event>  
    </ul>
  </main>
  
  <script type="text/javascript" src="index.js"></script>
</body>
</html>