<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <main id="app">
    <input type="text" placeholder="Enter location" v-model="location">
    <input type="submit" value="Search" @click="search.call(this, location)">
<div id=logandsign>
    <div id=login> <a href="/login">
        <input type="text" placeholder="Enter username" v-model="usernameL">
        <input type="password" placeholder="Enter password" v-model="passwordL">
    <button class="login" value="Login" @click="login.call(this, usernameL, passwordL)"> LOG IN</button>
  </a>
  </div>
  <div id=signup> <a href="/signin">
      <input type="text" placeholder="Enter username" v-model="username">
      <input type="text" placeholder="Enter email" v-model="email"> </br>
      <input type="password" placeholder="Enter password" v-model="password">
      <input type="password" placeholder="Confirm password" v-model="passConf">
  <button class="signup" value="SignUp" @click="signup.call(this, username, email, password, passConf)"> SIGN UP</button>
</a>
<tr v-for="interest in interests">
  <td @click="clickOninterest(interest.clicked)">{{interests}}</td>
</tr>
</div>
    <ul> 
      <!-- maybe limit to 5-10 of each result type -->
      <!-- <head><b>Food</b></head>
     <result v-for="result in results" :business="result"></result> -->
     <!-- <head><b>Events</b></head> -->
     <!-- <event v-for="event in events" :event="event"></event>   -->
    </ul>
    <table id="foodTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Phone #</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="result in results">
          <td>{{result.name}}</td>
          <td>{{result.location.display_address[0]}}</td>
          <td>{{result.phone}}</td>
          <td>{{result.rating}}</td>
          <td @click="add()">Add to Calander</td>
        </tr>
      </tbody>
    </table>
    <table id="eventTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <!-- <th>add calander</th> -->
        </tr>
      </thead>
      <tbody>
        <tr v-for="event in events">
          <td @click="toggle = !toggle">{{event.name.text}}</td>
          <!-- <button @click="toggle = !toggle">show description</button> -->
          <td v-show="toggle">{{event.description.text}}</td>
          <td @click="add()">Add to Calander</td>
        </tr>
      </tbody>
    </table>
  </main>
  
  <script type="text/javascript" src="index.js"></script>
</body>
</html>