body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, rgb(240, 211, 85), rgb(114, 81, 129), rgb(31, 54, 85), rgb(42, 104, 89));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#view {
    width: 80vw;
    margin-left: 20vw;
    -webkit-transition: margin 2s;
    transition: margin 2s;
}
img {
    height: 300px;
    width: 350px;
}
.btn-warning {
    color: rgb(114, 81, 129);
    background: rgb(240, 211, 85);
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 2px 6px 0px rgb(170, 146, 58); 
    border-radius: 10px;
    margin: 9px;
    padding: 20px 10px; 
    font-size: 22px;
}
.btn-warning:active {
    box-shadow: 0 0 #ff4c4b; 
    background-color: #D6BB59;
    top: 4px;	
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
}
.card {
    color: white;
    background: rgb(42, 104, 89);
}
a.card-link {
    color: white;
}
.yelp-results > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    height: 50vh;
}
.yelp-results > .row > .col-xs-4 {
  display: inline-block;
  float: none;
  margin: 5px;
}

#logandsign {
  float: right;
}

td {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar {
    color: #FFF;
    background:rgb(31, 54, 85);
    width: 250px;
    max-width: 250px;
    height: 100%;
    margin-left: 0vw;
    float: left;
    position: fixed;
    z-index: 1000;
    display: block;
    -webkit-transition: margin 2s;
    transition: margin 2s;
    flex:1;
}
#navbar-toggle {
    cursor: pointer;
}
#toggleView {
    margin-left: 44px;
}
.menu-icon {
    float: right;
}
.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li a {
    padding-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
    float: left;
    text-decoration: none;
    width: 100%;
    height: 70px;
    line-height: 25px;
    padding: 20px;
    vertical-align: center;
}
.sidebar-nav li a:hover {
    background:rgb(42, 104, 89);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}